body {
  font-family: sans-serif;
}

table {
  margin-top: 40px;
  margin-left: 15%;
  font-size: 30px;
}
td {
  width: 40%;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: crimson;
}
