{% extends 'base.html' %} {% load static %} {% block content %}
<h3>Hi Recipient</h3>
<form method="POST">
  {% csrf_token %}
  <input
    type="text"
    id="recipient-name"
    name="username"
    placeholder="Username"
  />
  <input
    type="password"
    id="recipient-pass"
    name="password"
    placeholder="Password"
  />
  <button type="submit" id="submit-button">LOGIN</button>
</form>
<div id="disp-button" style="visibility: hidden">
  <button id="logout-button" type="submit">
    LOGOUT
  </button>
  <!-- Display data -->
  <div class="display-log">
    <h4>Files for you...</h4>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    if (localStorage.getItem("token") !== null) {
      document.getElementById("disp-button").style.visibility = "visible";
      $.ajax({
        type: "POST",
        url: "{% url 'FileViewFunc' %}",
        headers: {
          Authorization: "Token " + localStorage.getItem("token")
        },
        success: function(data) {
          console.log(data[0]);
          for (var i = 0; i < data.length; i++) {
            console.log(data[i]);
            $(".display-log").append(
              "<p><a href=http://127.0.0.1:8000" +
                data[i].file +
                ">" +
                data[i].file +
                "</a> shared by <span style=color:crimson>" +
                data[i].file_uploader +
                "</span></p>"
            );
          }
        }
      });
    }

    $("#submit-button").on("click", function(e) {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "{% url 'RecipientLoginFunc' %}",
        data: {
          username: $("#recipient-name").val(),
          password: $("#recipient-pass").val()
        },
        dataType: "JSON",
        success: function(data) {
          localStorage.setItem("token", data.token);
          document.getElementById("disp-button").style.visibility = "visible";
          console.log("Set Token");
        },
        complete: function() {
          $("#recipient-name").val("");
          $("#recipient-pass").val("");
        }
      });
    });

    $("#logout-button").on("click", function(e) {
      e.preventDefault();
      $.ajax({
        success: function() {
          localStorage.clear();
          document.getElementById("disp-button").style.visibility = "hidden";
        },
        complete: function() {
          window.location.reload("http://127.0.0.1:8000/recipient");
        }
      });
    });
  });
</script>
{% endblock %}
